<nav class="navbar-fixed-top" *ngIf="innerWidth >= 719">
  <div class="not-scrolled" [ngClass]= "{'page-scrolled': isScrolled}">
    <div class="social_sites">
      <div>
        <ul>
          <li *ngFor="let site of social_sites">
            <span [class]="site.domain_name"><a [href]="site.url" [class]="site.icon" style="text-decoration:none" target="_blank" aria-hidden="True"></a></span></li></ul>
      </div>
    </div>
    <div class="profile">
        <div class="breadcrumbs">
            <ul style="list-style:none">
                <li><a routerLink="/about" routerLinkActive="active">About /</a></li>
                <li><a routerLink="/gallery" routerLinkActive="active">Gallery /</a></li>
                <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            </ul>
        </div>
    </div>
  </div>
  <div>
    <div class="cover">
      <img src="assets/pier.JPG" alt="Pier">
    </div>
  </div>
</nav>

<nav class="navbar-fixed-top-mobile"  *ngIf="innerWidth < 719">
  <img class="profile-img" src="assets/jv4.png" alt="profile">
  <expandable-list class="expandable">
    <expandable-list-item [isExpanded]="true">
      <span title>_</span>
      <span secondary>‗‗</span>
      <a item href="/about" routerLinkActive="active">About</a>
      <a item href="/gallery" routerLinkActive="active">Gallery</a>
      <a item href="/portfolio" routerLinkActive="active">Portfolio</a>
    </expandable-list-item>
  </expandable-list>
</nav>
