<nav class="navbar-fixed-top" *ngIf="innerWidth >= 719">
  <div class="not-scrolled" [ngClass]= "{'page-scrolled': isScrolled}">
    <div class="social_sites">
      <div>
        <ul>
          <li *ngFor="let site of social_sites">
            <span [class]="site.domain_name"><a [href]="site.url" [class]="site.icon" style="text-decoration:none" target="_blank" aria-hidden="True"></a></span></li></ul>
      </div>
    </div>
    <div class="profile">
        <!-- <img src="assets/jv4.png" alt="profile"> -->
        <div class="breadcrumbs">
            <ul style="list-style:none">
                <li><a routerLink="/about" routerLinkActive="active">About /</a></li>
                <li><a routerLink="/gallery" routerLinkActive="active">Gallery /</a></li>
                <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
            </ul>
        </div>
    </div>
  </div>
  <div>
    <div class="cover">
      <img src="assets/pier.JPG" alt="Pier">
    </div>
  </div>
</nav>

<nav class="navbar-fixed-top-mobile"  *ngIf="innerWidth < 719">
  <expandable-list class="expandable">
    <expandable-list-item>
      <span title>☰</span>
      <a item target="_blank" href={{social_sites[0].url}}>{{social_sites[0].domain_name}}</a>
      <a item target="_blank" href={{social_sites[1].url}}>{{social_sites[1].domain_name}}</a>
      <a item target="_blank" href={{social_sites[2].url}}>{{social_sites[2].domain_name}}</a>
    </expandable-list-item>
  </expandable-list>
</nav>
