<div [ngClass]="innerWidth > 1019? 'desktop': 'mobile'" id="footer">
  <footer style="text-align:center;">
    <div class="outer" style="position:relative;text-align:center;">
      <div class="inner">
        <img src="assets/00111.jpg" style="border-radius:50%;max-width:100px;">
        <div class="text"><pre><b>Greetings</b></pre></div>
    </div>
    </div>
    <pre style="float:center;">
- Jon Diaz -
<b>Full stack developer</b>
I write clean and reusable code, I focus on the user
and I am a persistent problem-solver.
    </pre>
  </footer>
</div>
