@import "~styles/mixins";

div#footer {
    padding-top: 500px;
}
footer#footer {
    left: -5%;
    img {
        border: 3px solid $jv-palette-green-50;
        opacity: .0;
        display: block;
        margin: auto;
        transition: 2s 20s;
        -webkit-filter: contrast(150%);filter: contrast(150%);
    }
    bottom: 0;
    width: 100%;
    @include bring-foreground(absolute);
}
footer#footer:hover {
    img {
        opacity: .80;
        transition: 0.3s ease-in;
    }
}
