@import "~styles/mixins";

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
pre {
    @include sans($jv-kind-text);
}
#footer.desktop, #footer.mobile {
    padding-top: 300px;
    img {
        border: 3px solid $jv-palette-green-50;
        display: block;
        margin: 0 auto;
        -webkit-filter: contrast(150%);filter: contrast(150%);
    }
}
#footer.desktop {
    img,
    .text-om {
        transition: 2s 20s;
    }
    img { opacity: .0; }
    .text-om { opacity: 1; }
}
#footer.mobile {
    img { opacity: .8; }
    font-size: 14px;
}
footer#footer {
    width: 100%;
    @include bring-foreground(absolute);
}
#footer:hover {
    img {
        opacity: .8;
        transition: 0.3s ease-in;
    }
    .text-om {
        transition: 0.5s ease-in;
        opacity: 0;
    }
}

.text-om,
.text {
    color: $jv-palette-black-50;
    @include send-abyss(absolute);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 9px;
    font-size: 1.05em;
    font-weight: 650;
}
.text { opacity: 0; }
.text-om { opacity: 1; }
div.inner {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.inner:hover {
    .text { opacity: 1; }
    img { filter: opacity(.2) !important; transition: 0s ease-in-out; }
}
