@import "~styles/mixins";

div#sidebar {
    float: right;
}
div#about {
    overflow: hidden;
    @include content-max-width;
}
div#placeholder iframe {
    @include send-abyss(relative);
    @include sidebar-format(relative);
    border: none;
    float: left;
}
