@import "~styles/mixins";

h4 {
    padding-left: 7px;
    margin-bottom: 1em;
}
div#title {
    background-color: $jv-gray-title;
    display: block;
    border-radius: 3px;
    margin-bottom: 5px;
    line-height: 10px;
}
