@import "~styles/mixins";

.gallery {
    margin: 0 auto;
    max-width: 719px;
}
.gallery li {
    list-style: none;
    display: inline;
}
.gallery li:hover {
    filter: grayscale(0%);
    filter: brightness(100%);
}
.gallery img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 3px;  /* Rounded border */
    padding: 5px; /* Some padding */
}
.gallery img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.column {
    float: left;
    padding: 0 5px;
}
.gallery li.selected {
    filter: grayscale(100%);
    filter: brightness(61%);
}
div#placeholder iframe {
    @include sidebar-format(relative);
    border: none;
    float: left;
}
div#gallery {
    overflow: hidden;
    // margin: 0 auto !important;
    max-width: 969px;
}
