<div>
  <span class="quora-content-embed" style="width:100%" data-name="What-are-some-good-interesting-exciting-projects-I-could-set-myself-in-OpenCV-C++-as-someone-who-is-fairly-new-to-OpenCV/answer/Jon-Vasco">Read
    <a class="quora-content-link" data-width="559" load-full-answer="True" data-key="ff244a8cb81fa00f51e1cc296a5d675b" data-id="19417547"
      data-embed="lhrsbzm" href="https://www.quora.com/What-are-some-good-interesting-exciting-projects-I-could-set-myself-in-OpenCV-C++-as-someone-who-is-fairly-new-to-OpenCV/answer/Jon-Vasco"
      data-type="answer" data-height="250">
      <a href="https://www.quora.com/Jon-Vasco">Jon Vasco</a>&#039;s
      <a href="/What-are-some-good-interesting-exciting-projects-I-could-set-myself-in-OpenCV-C++-as-someone-who-is-fairly-new-to-OpenCV#ans19417547">answer</a> to
      <a href="/What-are-some-good-interesting-exciting-projects-I-could-set-myself-in-OpenCV-C++-as-someone-who-is-fairly-new-to-OpenCV"
        ref="canonical">
        <span class="rendered_qtext">
          <p class="qtext_para">What are some good/interesting/exciting projects I could set myself in OpenCV/C++ as someone who is fairly new
            to OpenCV?</p>
        </span>
      </a>
    </a> on
    <a href="https://www.__nousername__.main.quora.com">Quora</a>
    <script type="text/javascript" src="https://www.quora.com/widgets/content"></script>
  </span>

  <embed src="https://www.quora.com/widgets/content" style="width:100%">

  <script type="text/javascript" charset="utf8" src="https://gist.github.com/jonadiazz/f7cd1b6a3e6e08e1bb50b15063828415.js"></script>
</div>
