#source-codes a {
    color: rgba(239, 241, 241, 1) !important;
}
#source-codes a:hover {
    color: 	#97b164 !important;
    font-weight: 600;
}
#source-codes {
    padding: 20px 10px;
}
#source-codes th {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    min-width: 160px;
    font-size: 14px;
}
#source-codes th:first-child {
    background-color: #03396c !important;
}
#source-codes th:nth-child(even) {
    background-color: #005b96;
}
#source-codes th:nth-child(odd) {
    background-color: #6497b1;
}
