<div style="max-width: 969px;">
  <br>
  <div id="code-repository" *ngIf="innerWidth > 1019">
    <app-code-repository></app-code-repository>
  </div>
  <div id="placeholder" *ngIf="innerWidth > 1019">
    <iframe style="width:250px;"></iframe>
  </div>
  <div id="portfolio">
    <app-updates></app-updates>
    <div>
      <p>
        Here you will find a list of some projects and repositories I have worked on!
      </p>
    </div>

    <div id="Savetest">
      <h2>Savetest - agile way to test your app</h2>
      <p><b><i>Savetest</i></b> automates testing new features on your application or to test small command line applications. A problem with major test environment is the required knowledge of the platform, usually, this environment are controlled by QA and a developer has few tools immediately available for testing new features. I started this project in order to <b>rapidly add new test cases as you program your application.</b> The saved tests are stored as JSON objects making them easy to export if you want to reuse them. <i>Here is a quick demo usage:</i>
      </p>
      <div id="video">
        <video controls="true">
            <source src='assets/Savetest-demo.mov'/>
        </video>
      </div>
    </div>
  </div>
