.myname {
    font-style: oblique;
    font-weight: bold;
    color: darkslategray;
}
.vote-up a {
    color: gray;
    padding-bottom: 3px;
}
.vote-up button {
    font-size: 293%;
    color: gray;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    background-color: rgba(251, 251, 251, 0);
}
.vote-up {
    text-align: center;
}
.rating_votes a {
    color: gray;
    font-weight: 400;
}
.rating_votes {
    font-size: 19px;
    text-align: center;
    align-content: center;
    font-family: "Open Sans", sans-serif;
}
.vote-down button {
    text-align: center;
    font-size: 293%;
    color: gray;
    cursor: pointer;
    border: none;
    background-color: rgba(251, 251, 251, 0);
}
.vote-down {
    text-align: center;
}
.vote {
    width: 11%;
    margin: 0 auto;
}
.current {
    margin: 0 auto;
    width: 719px;
}
.mbc {
    width: 719px !important;
}
.main_body_content, .mbc {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    width: 969px;
}
.main_body_content div.sidebar {
    margin-left: 719px;
}
.main_body_content div.summary {
    width: 707px;
    float: left;
}
.mbc div.summary {
    width: 719px;
    overflow: hidden;
}
