/* .cover_image img:hover {
    transform: scaleX(-1);
} */
.cover_image {
    /* width: auto; */
    /* max-width: 100%; */
    /* margin: 0 auto; */
    /* position: unset; */
    /* -webkit-transform-style: preserve-3d; */
}
.cover_image img {
    margin: 0 auto;
    max-width: 100%;
    /* style="max-width:100%" */
}
.myname {
    font-style: oblique;
    font-weight: bold;
    color: darkslategray;
}
.vote-up a {
    /* font-size: 30px; */
    color: gray;
    /* background-color: green; */
    padding-bottom: 3px;
}
.vote-up button {
    font-size: 300%;
    color: gray;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    /* align-items: center; */
}
.vote-up {
    text-align: center;
}
.rating_votes {
    color: rgb(155, 153, 153);
    font-size: 20px;
    text-align: center;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    /* font-family: Inconsolata, Droid Sans Mono, Proggy, Monofur, Profont, Monaco, Andale Mono; */
    /* background-color: wheat; */
}
.vote-down a {
    /* background-color: blue; */
    /* font-size: 300%; */
    /* color: gray; */
}
.vote-down button {
    text-align: center;
    font-size: 300%;
    color: gray;
    /* padding-bottom: 3px; */
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    /* align-items: center; */
}
.vote-down {
    text-align: center;
}
.vote {
    width: 10%;
    margin: 0 auto;
    /* background-color: darkslategray; */
}
.intro {
    /* width: 100%; */
    margin: 0 auto;
    width: 800px;
}
.main_body_content {
    margin: 0 auto;
    width: 800px;
}
.code_intro {
    text-align: left;
    font-size: 85%;
    background-color: rgb(239, 240, 241);
    -webkit-font-smoothing: antialiased;
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: weston_freeregular; */
    font-family: Inconsolata, Droid Sans Mono, Proggy, Monofur, Profont, Monaco, Andale Mono;
    /* font-family: Inconsolata, Consolas, Monaco, Courier; */
    /* font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* float: left; */
    width: 90%;
    /* right: 15%; */
    margin-left: 5%;
    padding-top: 5px;
    /* padding-bottom: 1px; */
    /* font-style: italic; */
    color: rgb(0, 0, 0);
}
/* .code_intro {
    width: 100%;
} */
