<!--The content below is only a placeholder and can be replaced.-->
<app-social></app-social>
<div style="text-align:center">
  <div class="cover_image">
    <img src="assets/pier.JPG" alt="Pier" style="max-width: 100%">
  </div>
  <h2 class="introduction">
    Greetings, my name is {{ name }}. I am a Software Developer living in Cutler Bay, FL
  </h2>
</div>

<div style="text-align:justify">
  <div class="summary">
    <p>I have worked on Computer Vision algorithms and Android applications. Even executed a social media campaign against extremism. For my portfolio, I would like to bundle concepts used on some past interesting projects. All into one software application. Here in this page.</p>
  </div>
</div>
<app-gallery></app-gallery>
