<!--The content below is only a placeholder and can be replaced.-->
<app-social></app-social>
<div style="text-align:justify">
  <div class="cover_image">
    <img src="assets/pier.JPG" alt="Pier" style="max-width: 100%">
  </div>
  <p class="introduction">
      <b>{{ name }}.</b><br>I'm a Full-stack developer in South Florida. I focus on writing clean and reusable code and I am a persistent problem solver
  </p>
</div>

<div style="text-align:justify">
  <div class="summary">
    <ul>
      <li>Worked over a year on machine vision using <b>C++</b> and <a href="https://opencv.org" target="_blank">OpenCV</a> and improved <a href="https://www.youtube.com/watch?v=ZDuRsJhsBzI&index=1&list=PLkw9ZPH81_mUwwA16M0-bPVHly86tCUxj" target="_blank">automation of a robot</a>
      </li>
      <li>Maintained <b>Android</b> apps and developed features successfully using a <a href="http://nvie.com/posts/a-successful-git-branching-model/" target="_blank">successful Git branching model</a></li>
    </ul>
    <p>Even executed a social media campaign against extremism. For my portfolio, I would like to bundle concepts used on some past interesting projects. All into one software application. Here in this page.</p>
  </div>
</div>
<app-gallery></app-gallery>
<!-- <app-android></app-android> -->
