<!--The content below is only a placeholder and can be replaced.-->
<app-social></app-social>
<div>
  <div class="cover_image">
    <img src="assets/pier.JPG" alt="Pier" style="max-width:100%">
  </div>
  <!-- <p style="text-align:center"><b>
      {{ name }}<br></b></p> -->
  <h3 style="float:left">{{ name }}<br>{{ last }}</h3>
  <p class="introduction" style="text-align:left">
        I'm a Full-stack developer in South Florida. I write clean and reusable code, I focus on the user and I am a persistent problem-solver. Also, I'm a jack of all trades. <i>Here are some examples!</i>
  </p>
</div>

<div>
  <div class="summary">
    <ul>
      <li>Worked over a year on machine vision using <b>C++</b> and <a href="https://opencv.org" target="_blank">OpenCV</a> and improved <a href="https://www.youtube.com/watch?v=ZDuRsJhsBzI&index=1&list=PLkw9ZPH81_mUwwA16M0-bPVHly86tCUxj" target="_blank">automation of a robot</a>
      </li>
      <li>Maintained <b>Android</b> apps and developed features successfully using a <a href="http://nvie.com/posts/a-successful-git-branching-model/" target="_blank">successful Git branching model</a>
      </li>
    </ul>
    <p>During my senior year of college, honors program students executed a <a href="https://edventurepartners.com/peer-to-peer-challenging-extremism-winners-named-in-washington/" target="_blank">social media campaign against extremism </a>reaching the nationwide finals. My senior project consisted of architecturing a mobile app video game called Bushburg which emphasized real living conditions of some underdeveloped villages in some of the poorest African communities.</p>
    <p>For my portfolio, I would like to bundle concepts used on some past interesting projects. All into one software application. Here in this page.</p>
  </div>
</div>
<app-gallery></app-gallery>
<!-- <app-android></app-android> -->
