div.hyperlinks, div.glossary, {
    padding-left: 7px;
    margin-bottom: 7px;
    /* padding: 10px 10px; */
    padding-bottom: 10px;
    text-align: left !important;
}
.sidebarDiv {
    font-size: 13px;
    text-align: justify;
}
div.sidebarDiv h4 {
    padding-left: 7px;

}
div.glossary {
    border-radius: 3px;
    border: 1px solid #d6d9dc;
}
.side_img {
    border-radius: 3px;
    border: 1px solid #d6d9dc;
    margin: 0 auto;
    width: 99%;
    height: auto;
}
.sidebarDiv {
    position: relative;
}
.sidebarDiv div.breadcrumbs {
    font-size: 14.4px !important;
    font-family: "Droid Serif";
    /* margin-bottom: 150px; */
}
div.breadcrumbs br {
    display: block;
    /* margin-bottom: 40px; */
}
div.breadcrumbs a {
    /* padding-left: 7px; */
    /* padding-bottom: 50px; */
    /* height: 50px; */
    font-weight: bolder !important;
}
div.breadcrumbs a:hover {
    color: #289b86 !important;
}
div.breadcrumbs ul {
    padding: 0px;
    line-height: 1.4em;
}
.profile img {
    max-width: 35%;
    border-radius: 50%;
}
.profile {
    text-align: center;
}
