@import "~styles/mixins";

div.hyperlinks, div.glossary, {
    padding-left: 7px;
    margin-bottom: 7px;
    padding-bottom: 10px;
    text-align: left !important;
}
.sidebarDiv {
    @include sidebar-format;
}
h4 {
    padding-left: 7px;
    margin-bottom: 1em;
}
div.glossary {
    border-radius: 3px;
    border: 1px solid #d6d9dc;
}
iframe {
    max-width: 99%;
    height: 20%;
}
.side_img {
    border-radius: 3px;
    border: 1px solid #d6d9dc;
    margin: 0 auto;
    width: 99%;
    height: auto;
}
