@import "~styles/mixins";

div.hyperlinks, div.glossary, {
    padding-left: 7px;
    margin-bottom: 7px;
    padding-bottom: 10px;
    text-align: left !important;
}
.sidebarDiv {
    @include sidebar-format(fixed);
}
h4 {
    padding-left: 7px;
    margin-bottom: 1em;
}
div.glossary {
    @include borders;
}
iframe {
    max-width: 99%;
    height: 20%;
}
.side_img {
    @include borders;
    margin: 0 auto;
    max-width: 99%;
    height: auto;
}
