<div class="sidebarDiv" *ngIf="innerWidth > 1019">
    <div class="hyperlinks">
    </div>
    <div class="study_abroad">
        <br>
        <h4 class="title">Learn about my time abroad</h4>
        <img class="side_img" src="assets/thailand-top-view-bangkok.jpg">
    </div>
    <br>

    <app-reading></app-reading>
    <div class="glossary">
        <h4>Glossary</h4>
        <ul>
            <li>heat map</li>
            <li>funnel analyzer</li>
            <li>machine vision</li>
        </ul>
        <p></p>
    </div>

</div>
