ul {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 12px;
}
li {
    padding: 0 6px;
    border-left-width: 4px;
    list-style-position: outside;
    border-left-style: solid;
    list-style-image: none;
    margin-bottom: 0px;
    text-align: left;
    font-size: 81%;
    -webkit-font-smoothing: antialiased;
    font-family: Inconsolata, Droid Sans Mono, Proggy, Monofur, Profont, Monaco, Andale Mono;
    display: list-item;
    border-left-color: #9cbb62;
}
div.current {
    width: 969px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
}
.current p {
    line-height: 20px !important;
    color: #1e3044;
    padding-bottom: 5px;
    padding-top: 5px;
}
.current {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}
