@import "~styles/mixins";

ul {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 12px;
}
li {
    @include inconsolata-medium();
    padding: 0 6px;
    border-left: 3px solid $jv-green-borders;
    border-radius: 3px;
    list-style-position: outside;
    list-style-image: none;
    margin-bottom: 0px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    display: list-item;
}
div.current {
    width: 707px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
}
.current p {
    line-height: 20px !important;
    font-weight: 500;
    color: $jv-updates-green;
    padding-bottom: 5px;
    padding-top: 5px;
}
.current {
    margin: 0 auto;
    max-width: 100%;
    max-width: auto;
    height: auto;
}
