@mixin expand-in-space {
    min-width: 100%;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}
@mixin sidebar-format($pos) {
    @include send-back($pos);
    font-size: $jv-font-small;
    text-align: justify;
    width: 250px;
}
@mixin content-max-width {
    max-width: 620px;
}
@mixin borders {
    border-radius: 3px 3px 0 0;
    border: 1px solid $jv-gray-borders;
}
