// Palette black
$jv-palette-blue-dark: #011f4b;
$jv-palette-blue-90: #03396c;
$jv-palette-blue-70: #005b96;
$jv-palette-blue-50: #6497b1;
$jv-palette-blue-30: #b3cde0;

// Palette black
$jv-palette-black: #0e1111;
$jv-palette-black-90: #232b2b;
$jv-palette-black-70: #353839;
$jv-palette-black-50: #3b444b;
$jv-palette-black-30: #414a4c;
$jv-palette-black-10: #666;

// Palette beach
$jv-beach-green-30: #96ceb4;
$jv-beach-yelllow-30: #ffeead;
$jv-beach-orange-80: #ff6f69;
$jv-beach-orange-30: #ffcc5c;
$jv-beach-green-50: #88d8b0;

// Palette green
$jv-palette-green-50: #52bf90;
$jv-palette-green-60: #49ab81;
$jv-palette-green-70: #419873;
$jv-palette-green-80: #398564;
$jv-palette-green-90: #317256;

// jv color palette
$jv-background-beige: #e1d7c8;
$jv-background-white: rgba(239, 241, 241, 0.137);
$jv-white-90: #eff1f1;
$jv-white-transparent-15: rgba(239, 241, 241, 0.137);
$jv-white-transparent-70: rgba(239, 241, 241, 0.733);
$jv-gray-nav: #f6f6f6;
$jv-gray-title: #f6f8fa;
$jv-gray-borders: #d1d3d4;
$jv-green-borders: #9cbb62;
$jv-green-light-terminal: #32CD32;
$jv-blue-links: #156b88;
$jv-green-links: #7b9150;

// jv font sizes
$jv-font-small: 14px;
$jv-font-medium: 16px;
$jv-font-large: 18px;

// constants
$jv-working-space: 1269px;

// kind colors
$jv-kind-text: #47474F;
$jv-kind-smaller-text: #333333;
$jv-updates-green: #1e443e;
