/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    /* background-color: rgba(240, 241, 242, 0.082); */
    background-color: rgba(240, 241, 242, 0.137);



    /* background-color: #666; */
    /* width: 84%; */
    /* margin-left: 25%;
    margin-right: 25%; */
    /* font-family: "Open Sans", Helvetica, sans-serif; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 16px;
    align-content: center;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    position: relative;
}
li {
    padding-block-end: 10px;
}
.introduction {
    text-align: left;
    font-size: 85%;
    background-color: rgb(239, 240, 241);
    -webkit-font-smoothing: antialiased;
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: weston_freeregular; */
    font-family: Inconsolata, Droid Sans Mono, Proggy, Monofur, Profont, Monaco, Andale Mono;
    /* font-family: Inconsolata, Consolas, Monaco, Courier; */
    /* font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* float: left; */
    width: 90%;
    /* right: 15%; */
    margin-left: 5%;
    padding-top: 5px;
    /* padding-bottom: 1px; */
    /* font-style: italic; */
    color: rgb(0, 0, 0);
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* float: left; */
    font-size: 15px;
    padding-right: 20px;
    /* align-items: stretch; */
    /* word-wrap: break-word; */
    /* writing-mode: sideways-rl; */
    /* width: 0; */
}
p {
    width: 98%;
    margin-left: 1%;
    color: black;
}
a {
    text-decoration: none;
    color: darkslateblue;
}
a:hover {
    color: darkblue;
}
blockquote {
    text-align: right;
    /* background-color: #fff; */
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    /* position: relative; */
}
blockquote::before {
    content: "\201C";
    font-weight: bold;
    color: #999;
}
.main_text {
    float: unset;
    /* width: 800px; */
    -webkit-margin-collapse: collapse;
    margin: 0 auto;
    /* margin-left: 25%;
    margin-right: 25%; */
    /* width: 90%; */
}
.main_container {
    margin: 0 auto;
    /* background-color: rgb(240, 241, 242); */


    /* background-color: #fff; */
    /* position: relative; */
}
