/* You can add global styles to this file, and also import other style files */
@import "~styles/mixins";

* {
    transition: .2s ease-in-out;
}
html {
    margin: 0 auto;
    height: 100%;
}
html, head, body
{
    @include serif();
    @include expand-in-space();
}
body {
    h2, h3 {
        max-width: 97%;
        margin-left: 1.5%;
    }
    h2 { @include sans($jv-kind-text, 1.5em, 600); }
    h3 { @include sans($jv-kind-text, 1.2em, 600); }
    display: block;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: $jv-font-medium;
    align-content: center;
    box-sizing: border-box;
    float: left;
    position: relative;
}
li {
    padding-block-end: 10px;
}
p {
    max-width: 97%;
    margin-left: 1.5%;
    line-height: 25px;
    a {
        @include sans($jv-blue-links, 1em, 600);
    }
}
a {
    color: $jv-blue-links;
    text-decoration: none;
    font-weight: 500;
}
a:hover,
p a:hover {
    color: $jv-links-hover;
}
blockquote {
    text-align: right;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}
blockquote::before {
    content: "\201C";
    font-weight: bold;
    color: #999;
}
.main {
    -webkit-margin-collapse: collapse;
    margin: 0 auto;
    max-width: 100%;
    max-width: auto;
    height: auto;
}
.main-container {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
hr {
    border-color: $jv-white-90;
}
