/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    background-color: rgba(239, 241, 241, 0.137);
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 17px;
    align-content: center;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    position: relative;
}
li {
    padding-block-end: 10px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-right: 20px;
}
p {
    width: 97%;
    margin-left: 1.5%;
    color: black;
}
a {
    text-decoration: none;
    color: chocolate;
}
a:hover {
    color: darkblue;
}
blockquote {
    text-align: right;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}
blockquote::before {
    content: "\201C";
    font-weight: bold;
    color: #999;
}
.main_text {
    float: unset;
    -webkit-margin-collapse: collapse;
    margin: 0 auto;
}
.main_container {
    margin: 0 auto;
}
