/* You can add global styles to this file, and also import other style files */
html {
    margin: 0 auto;
    height: 100%;
}
footer {
    background-color: #f6f6f6 !important;
    border-top: 2px solid #eee;
}
html, head, body
{
    min-width: 100%;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 241, 241, 0.137) !important;
}
body {
    display: block;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 16px;
    align-content: center;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    position: relative;
}
li {
    padding-block-end: 10px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-right: 20px;
}
p {
    width: 97%;
    margin-left: 1.5%;
    color: black;
    line-height: 25px;
}
a {
    text-decoration: none;
    color: rgb(21, 107, 136) !important;
    font-weight: 500;
}
a:hover {
    color: rgb(123, 145, 80) !important;
}
blockquote {
    text-align: right;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}
blockquote::before {
    content: "\201C";
    font-weight: bold;
    color: #999;
}
.main {
    -webkit-margin-collapse: collapse;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}
.main-container {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.discussion {
    margin: 0 auto !important;
    overflow: hidden;
    max-width: 969px;
    padding-left: 1%;
    height: auto;
    overflow: hidden;
    align-content: right !important;
}
#gist, #disqus_thread {
    margin: 0 auto !important;
    max-width: 99%;
}
