<br>
<br>
<div id="code-repository">

  <div id="source-codes">
    <div>
      <!-- <div>
        <img src="assets/folder.png" style="float:left;max-width:80px;">
        <span style="float:left;line-height:100px;" id="guide" style="color: $jv-green-links !important">└❯</span>
      </div> -->
      <!-- <div>
        <img src="assets/cpp.png" style="float:left;max-width:80px;padding-bottom:10px;padding-left:200px;">
      </div> -->
    </div>
    <div id="title">
      <tr>
        <h4 id="title">My repositories</h4>
      </tr>
    </div>
    <ul>
      <li>
        <a style="display: block;" class="mini-repo-list-item css-truncate" href="https://github.com/jonadiazz/Savetest" data-ga-click="Dashboard, click, Repo list item click - context:user visibility:public fork:false">
          <svg aria-hidden="true" class="octicon octicon-repo repo-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
          </svg>
          <span class="repo-and-owner css-truncate-target" title="jonadiazz/Savetest">
            <span class="repo">
              <b>Savetest</b>
            </span>
          </span>
        </a>
      </li>
      <li class="public source">
        <a class="mini-repo-list-item css-truncate" href="https://github.com/jvasquezz/customer-detection" data-ga-click="Dashboard, click, Repo list item click - context:user visibility:public fork:false">
          <svg aria-hidden="true" class="octicon octicon-repo repo-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
          </svg>
          <span class="repo-and-owner css-truncate-target" title="jvasquezz/customer-detection">
            <span class="owner css-truncate-target"></span>
            <span class="repo">
              <b>customer-detection</b>
            </span>
          </span>
        </a>
      </li>
      <li class="public source">
        <a class="mini-repo-list-item css-truncate" href="https://github.com/jonadiazz/wooden-comp" data-ga-click="Dashboard, click, Repo list item click - context:user visibility:public fork:false">
          <svg aria-hidden="true" class="octicon octicon-repo repo-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
          </svg>
          <span class="repo-and-owner css-truncate-target" title="jonadiazz/wooden-comp">
            <span class="repo">
              <b>wooden-comp</b>
            </span>
          </span>
        </a>
      </li>
      <li class="public source">
        <a class="mini-repo-list-item css-truncate" href="https://github.com/jvasquezz/Hyrax" data-ga-click="Dashboard, click, Repo list item click - context:user visibility:public fork:false">
          <svg aria-hidden="true" class="octicon octicon-repo repo-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
            <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
          </svg>
          <span class="repo-and-owner css-truncate-target" title="jvasquezz/Hyrax">
            <span class="owner css-truncate-target">jvasquezz</span>/
            <span class="repo">
              <b>Hyrax</b>
            </span>
          </span>
        </a>
      </li>
      <li class="public fork">
        <a class="mini-repo-list-item css-truncate" href="https://github.com/jvasquezz/jhon" data-ga-click="Dashboard, click, Repo list item click - context:user visibility:public fork:true">
          <svg aria-hidden="true" class="octicon octicon-repo-forked repo-icon" height="16" version="1.1" viewBox="0 0 10 16" width="10">
            <path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
          </svg>
          <span class="repo-and-owner css-truncate-target" title="jonadiazz/jhon">
            <span class="repo">
              <b>jhon</b><i> (this page's codebase)</i>
            </span>
          </span>
        </a>
      </li>
    </ul>
  </div>

</div>
